// colors
$accentColor = #ff7d5c
$textColor = #061240
$postColor = #ffab44
$borderColor = #e6ecf0
$focusColor = #ff7d5c
$codeBgColor = #282c34


.logo
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

img.logo__image
  max-width 40px !important;
  margin-top: 20px;

.paragraph
  margin: 16px 0;

.home-link.router-link-active
  display: flex;
  max-width: 50%;

.logo
  margin-right: 0.2rem !important;
  width: auto;


.btn-use
  position: relative;
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;