// #############################################################################
// VARIABLES

// COLORS
$fontsPath: 'fonts';

$black: #000;
$white: #fff;
$orange-pixel: #ff7d5c;

// FONTS
$base-font-size: 16px !default;
$general-font-family:  "Open Sans", arial, "Helvetica Neue", helvetica, "Lucida Grande", sans-serif !default;
$featured-font-family: "Open Sans", arial, "Helvetica Neue", helvetica, "Lucida Grande", sans-serif !default;

// GLOBAL TYPOGRAPHY
$primary-color: $orange-pixel !default;
$base-font-color: $orange-pixel !default;
$base-font-family: $general-font-family !default;